$adminColor: #B52535;
$ownerColor: #ffffff;
$modColor: #37ed3b;
$premiumColor: #c642ea;

.chat-panel .message[data-role~="Admin"] {
    border-right: 3px solid $adminColor;
    border-left: 3px solid $adminColor;
    .message-author {
        color: $adminColor !important;
    }
}

.chat-panel .message[data-role~="Owner"] {
    border-right: 3px solid $ownerColor;
    border-left: 3px solid $ownerColor;
    .message-author {
        color: $ownerColor !important;
    }
}

.chat-panel .message[data-role~="Mod"] {
    border-right: 3px solid $modColor;
    border-left: 3px solid $modColor;
    .message-author {
        color: $modColor !important;
    }
}

.chat-panel .message[data-role~="Premium"] {
    border-right: 3px solid $premiumColor;
    border-left: 3px solid $premiumColor;
    .message-author {
        color: $premiumColor !important;
    }
}