$messageBorder: #0003ff;
$messageBackground_part1: rgba(0, 52, 255, 0.3);
$messageBackground_part2: rgba(0, 32, 255, 0.1);
$messageBackground_part3: rgba(0, 42, 255, 0.1);
$messageBackground_part4: rgba(0, 78, 245, 0.3);

.chat-panel .message[data-role~="BExMessage"] {
    border-right: 3px solid $messageBorder;
    border-left: 3px solid $messageBorder;
    background: -webkit-linear-gradient(left, $messageBackground_part1 0%, $messageBackground_part2 7%, $messageBackground_part3 95%, $messageBackground_part4 100%);
    background: linear-gradient(left, $messageBackground_part1 0%, $messageBackground_part2 7%, $messageBackground_part3 95%, $messageBackground_part4 100%);
    text-align: center;
}