.navbar {
    background: rgba(0, 0, 0, 0.41);
}

.chat-panel .message[data-role~="BExIFStaff"] .message-author {
    background: url('http://i.imgur.com/Tgt956w.png') no-repeat;
    padding-left: 22px;
    padding-bottom: 1px;
    background-position: -1px;
}