.navbar {
    background: rgba(60, 173, 84, 0.12);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 255, 54, 0.12);
    -webkit-border-radius: 3px;
}

.chat-panel .message[data-role~="Admin"] {
    border-right: 3px solid transparent;
    border-left: 3px solid #B52535;
}

.chat-panel .message[data-role~="Owner"] {
    border-right: 3px solid transparent;
    border-left: 3px solid #FFFFFF;
}

.chat-panel .message[data-role~="Mod"] {
    border-right: 3px solid transparent;
    border-left: 3px solid #37ED3B;
}

.chat-panel .message[data-role~="Premium"] {
    border-right: 3px solid transparent;
    border-left: 3px solid #c642ea!important;
}

.chat-panel .message[data-role~="BExDev"] .message-author {
    color: #00FFFF;
    background: url('https://i.imgur.com/N4LsfN5.png') no-repeat;
    padding-left: 22px;
    padding-bottom: 1px;
    background-position: -1px;
}

.chat-panel .message[data-role~="BExMusicVerified"] .message-author {
    color: #9800FF;
    background: url('https://exudev.ca/BeX/icons/verified.png') no-repeat;
    padding-left: 22px;
    padding-bottom: 1px;
    background-position: -1px;
}

.chat-panel .chat-dialog {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: inherit;
    right: 10px;
    z-index: 100;
    box-shadow: none!important;
    border: none!important;
    transition: .3s all ease;
    transition: all .3s all ease ease;
}

.chat-panel .message[data-role~="BExVerified"] .message-author {
    color: #9800FF;
    background: url('https://exudev.ca/BeX/icons/MusicBadge.png') no-repeat;
    padding-left: 22px;
    padding-bottom: 1px;
    background-position: -1px;
}

.chat-panel .message[data-role~="ExuMessage"] {
    border-right: 3px solid #0003FF;
    border-left: 3px solid #0003FF;
    background: -webkit-linear-gradient(left, rgba(0, 52, 255, 0.3) 0%, rgba(0, 32, 255, 0.1) 7%, rgba(0, 42, 255, 0.1) 95%, rgba(0, 78, 247, 0.3) 100%);
    background: linear-gradient(left, rgba(0, 52, 255, 0.3) 0%, rgba(0, 32, 255, 0.1) 7%, rgba(0, 42, 255, 0.1) 95%, rgba(0, 78, 247, 0.3) 100%);
    text-align: center;
}

.chat-panel .message[data-role~="BExDonator"] .message-author {
    color: #FFFFFF;
    text-shadow: 0px 0px 13px rgba(255, 255, 255, 1);
    display: inline;
    position: relative;
}

.chat-panel .message[data-role~="BExBot"] .message-author {
    background: url('https://i.imgur.com/ddVOAAS.png') no-repeat;
    color: #FF0000 !important;
    padding-left: 22px;
    padding-bottom: 1px;
    background-position: -1px;
}

.chat-panel .message[data-role~="TheBExBot"] .message-body {
    color: #FF0000 !important;
}

.exu-emote {
    margin-bottom: -10px;
    margin-top: -10px;
}

.chat-panel .message .imgContainer {
    max-width: 95%;
    position: relative;
}

.chat-panel .message .imgContainer img {
    max-width: 100%;
    border-radius: 14px;
    max-height: 150px;
}

.chat-panel .message .imgContainer .delete {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.8);
    color: #FFFFFF;
}

.chat-panel .tagged {
    font-weight: 700;
    background-color: rgba(121, 0, 0, 0.35)
}
